/freetype-2.13.3
/libjpeg-turbo-3.0.3
/lpng1643
/OpenSceneGraph-OpenSceneGraph-3.6.5
/tiff-4.6.0t
/zlib-1.3.1
/osgQt-master
/osgQt-topic-Qt4
/eigen-3.4.0
/libzip-1.10.1
/abseil-cpp-20240722.0
/opencv-3.4.16
/protobuf-27.4
